body {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 110px;
    /*padding: 0;*/
    /*margin: 0;*/
    /*z-index: 1;*/
    /*top: 0;*/
}

main {
    padding: -5px;
    margin: -10px -10px -20px -10px;
    background: linear-gradient(#043b04, #17c917);
}

h1 {
    text-align: center;
    color: #031301;
}

#how-to {
    margin-top: -20px;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50px;
}


/* game board */
#abq {
    position: relative;
    /*left: 150px;*/
    border: 2px red solid;
    margin: 0 auto;
    width: 1050px;
    height: 900px;
    background-color: grey;
}

#lab-img {
    position: relative;
    /*width: 771px;*/
    height: 500px;
    margin: 450px 400px 0 400px;
    border: #262626 1px solid;
    background-color: white;
    left: -401px;
    top: -50px;
}

/* clickable items */

.lab-items {
    position: relative;
}

#hazmat {
    border: transparent 3px solid;
    left: 840px;
    top: -500px;
    height: 210px;
    width: 80px;
}

#notebook {
    border: transparent 3px solid;
    height: 5px;
    width: 40px;
    left: 160px;
    top: -487px;
}

#isopropyl-alc {
    border: transparent 3px solid;
    left: 925px;
    top: -575px;
    height: 60px;
    width: 25px;
}

#chem-one {
    height: 30px;
    width: 18px;
    border: transparent 2px solid;
    position: relative;
    left: 405px;
    top: -610px;
}

#chem-two {
    height: 60px;
    width: 63px;
    border: transparent 2px solid;
    top: -540px;
    left: 368px;
}

#chem-three {
    border: transparent 2px solid;
    height: 25px;
    width: 18px;
    top: -690px;
    left: 650px;
}

#chem-four {
    border: transparent 2px solid;
    height: 25px;
    width: 12px;
    left: 740px;
    top: -790px;
}

#poison {
    border: transparent 2px solid;
    height: 15px;
    width: 18px;
    left: 123px;
    top: -722px;
}

#ricin {
    border: transparent 2px solid;
    height: 10px;
    width: 12px;
    top: -757px;
    left: 481px;
}

/* modal pop ups */
.close-up-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 44%;
    top: 500px;
    width: 200px; /* Full width */
    height: 600px; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/hazamtsuitwalt.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/*#hazmat-suit {*/
/*    !*display: none; !* Hidden by default *!*!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    width: 10%; !* Full width *!*/
/*    height: 10%; !* Full height *!*/
/*    overflow: hidden; !* Enable scroll if needed *!*/
/*    background-image: url("../img/hazamtsuitwalt.png");*/
/*    background-repeat: no-repeat;*/
/*}*/

/* Modal Content/Box */
.poison-content {
    /*background-color: #db1a1a;*/
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    /*padding: 20px;*/
    /*!*border: 1px solid #d92323;*!*/
    /*width: 80px; !* Could be more or less, depending on screen size *!*/
    /*height: 80px;*/
}


/* end game cards*/
.endgame-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 46%;
    top: 500px;
    width: 145px; /* Full width */
    height: 450px; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
}

