body {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 110px;
    background-color: #043b04;
    /*background: radial-gradient(#60ff60, #17c917, #043b04);*/
    /*background-size: cover;*/
    /*background-repeat: repeat-x;*/
}

main {
    padding: -5px;
    margin: -10px -10px -20px -10px;
}

#cook {
    position: relative;
    /*top: -500px;*/
}

h1 {
    text-align: center;
    color: #031301;
}

#how-to {
    margin-top: -20px;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50px;
    background-color: #0a580a;
}

.board {
    position: relative;
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    border: #262626 1px solid;
    background-image: url("../img/updated lab.png");
    background-size: cover;
    /*background-color: white;*/
    background-color: rgba(255, 248, 248, 0.78)
    /*left: -401px;*/
    /*top: -950px;*/
}
/* clickable items */
.lab-items {
    /*position: relative;*/
}

#hazmat {
    position: relative;
    border: transparent 3px solid;
    left: 1450px;
    top: 100px;
    height: 210px;
    width: 80px;
}

#notebook {
    position: relative;
    border: red 3px solid;
    height: 5px;
    width: 40px;
    left: 300px;
    top: 250px;
}

#isopropyl-alc {
    position: relative;
    border: transparent 3px solid;
    left: 1600px;
    top: 120px;
    height: 60px;
    width: 25px;
}

#chem-one {
    position: relative;
    height: 30px;
    width: 18px;
    border: deeppink 2px solid;
    left: 0px;
    top: 0px;
}

#chem-two {
    position: relative;
    height: 60px;
    width: 63px;
    border: deeppink 2px solid;
    left: 600px;
    top: 200px;
}

#chem-three {
    position: relative;
    border: deeppink 2px solid;
    height: 25px;
    width: 18px;
    left: 0px;
    top: 0px;
}

#chem-four {
    position: relative;
    border: deeppink 2px solid;
    height: 25px;
    width: 12px;
    left: 0px;
    top: 0px;
}

#poison {
    position: relative;
    border: black 2px solid;
    height: 15px;
    width: 18px;
    left: 250px;
    top: 0px;
}

#ricin {
    position: relative;
    border: transparent 2px solid;
    height: 10px;
    width: 12px;
    left: 840px;
    top: -50px;
}

.close-up-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 44%;
    top: 500px;
    width: 200px; /* Full width */
    height: 600px; /* Full height */
    background-repeat: no-repeat;
    background-size: 100%;
}


#gale-notebook {
    color: white;
    background-image: url("../img/gale-notebook.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
}

#iso-alc {
    color: black;
    background-image: url("../img/isso.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#hydrochloride {
    color: black;
    background-image: url("../img/hydrochloride.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
}

#methylamine {
    color: black;
    background-image: url("../img/methylamine.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
}

#paa {
    color: black;
    background-image: url("../img/paa.jpeg");
    background-repeat: no-repeat;
    background-size: 90%;
}

#phenlylacetic {
    color: black;
    background-image: url("../img/phenlylacetic-acid.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
}

#hazmat-suit {
    background-image: url("../img/hazamtsuitwalt.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* end game cards*/
#successful-product {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/crystal-blue.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#ricin-beans {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/ricin beans.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#poison-death {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/Screen Shot 2020-07-28 at 9.45.03 AM.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#killer-product {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/4x13_Gus'_face_off.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#incomplete-batch {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/hank.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#dead-product {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/Screen Shot 2020-07-28 at 9.45.03 AM.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#double-killer-product {
    color: white;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 45%;
    top: 500px;
    width: 400px; /* Full width */
    height: 600px;
    /*overflow: auto; !* Enable scroll if needed *!*/
    background-image: url("../img/4x13_Gus'_face_off.png");
    background-repeat: no-repeat;
    background-size: 90%;
}