body {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 110px;
    background-color: #043b04;
}

main {
    padding: -5px;
    margin: -10px -10px -20px -10px;
}

h1 {
    text-align: center;
    color: #031301;
}

/* buttons */
button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 150px;
    background-color: #0a580a;
}

#cook {
    position: relative;
}

#how-to {
    margin-top: -20px;
}

/* board */
.board {
    position: relative;
    width: 1800px;
    height: 800px;
    margin: 0 auto;
    border: #262626 1px solid;
    background-image: url("../img/updated lab.png");
    background-size: cover;
    background-color: rgba(255, 248, 248, 0.78)
}

/* clickable items */
#hazmat {
    position: relative;
    border: transparent 3px solid;
    left: 1450px;
    top: 100px;
    height: 310px;
    width: 130px;
}

#notebook {
    position: relative;
    border: transparent 3px solid;
    height: 5px;
    width: 40px;
    left: 329px;
    top: 157px;
}

#isopropyl-alc {
    position: relative;
    border: transparent 3px solid;
    left: 1600px;
    height: 120px;
    width: 40px;
}

#chem-one {
    position: relative;
    height: 70px;
    width: 30px;
    border: transparent 2px solid;
    left: 1565px;
    top: -30px;
}

#chem-two {
    position: relative;
    height: 25px;
    width: 13px;
    border: transparent 2px solid;
    left: 1260px;
    top: -310px;
}

#chem-three {
    position: relative;
    border: transparent 2px solid;
    height: 30px;
    width: 15px;
    left: 372px;
    top: -107px;
}

#chem-four {
    position: relative;
    border: transparent 2px solid;
    height: 90px;
    width: 50px;
    left: 1208px;
    top: -28px;
}

#chem-five {
    position: relative;
    border: transparent 2px solid;
    height: 70px;
    width: 30px;
    left: 752px;
    top: -350px;
}

#chem-six {
    position: relative;
    border: transparent 2px solid;
    height: 70px;
    width: 30px;
    left: 199px;
    top: -400px;
}

#chem-seven {
    position: relative;
    border: transparent 2px solid;
    height: 45px;
    width: 30px;
    left: 1267px;
    top: -580px;
}

#poison {
    position: relative;
    border: transparent 2px solid;
    height: 30px;
    width: 33px;
    left: 230px;
    top: -230px;
}

#cellphone {
    position: relative;
    border: transparent 2px solid;
    height: 15px;
    width: 40px;
    left: 618px;
    top: -600px;
}

#ricin {
    position: relative;
    border: transparent 2px solid;
    height: 10px;
    width: 32px;
    left: 140px;
    top: -105px;
}

#gallon-can {
    position: relative;
    border: transparent 2px solid;
    height: 100px;
    width: 80px;
    left: 1318px;
    top: -380px;
}


/* POP UPS */
.close-up-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-repeat: no-repeat;
    background-size: 100%;
}


#gale-notebook {
    color: black;
    background-image: url("../img/labnotes1.png");
    background-size: 90%;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
}

#iso-alc {
    background-image: url("../img/isso-second.png");
    background-size: 90%;
    width: 400px;
    height: 500px;
    left: 50%;
    bottom: 250px;
    position: fixed;
    transform: translate(-50%, -50%);
}

#tin-gallon-can {
    background-image: url("../img/galloncan.png");
    background-size: 90%;
    width: 600px;
    height: 700px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#fake-chem {
    background-image: url("../img/Screen Shot 2020-07-28 at 10.12.25 AM.png");
    background-size: 90%;
    width: 600px;
    height: 700px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#hydrochloride {
    background-image: url("../img/hydrochloride.png");
    background-size: 90%;
    width: 500px;
    height: 600px;
    left: 50%;
    top: 40%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#methylamine {
    background-image: url("../img/methylamine.png");
    background-size: 90%;
    width: 450px;
    height: 550px;
    left: 55%;
    top: 40%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#paa {
    background-image: url("../img/paa.png");
    background-size: 100%;
    width: 450px;
    height: 550px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#cellphone-close-up {
    background-image: url("../img/phone-with-text.png");
    background-size: 100%;
    width: 200px;
    height: 600px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#phenlylacetic {
    background-image: url("../img/phenlylacetic-acid.png");
    background-size: 90%;
    width: 450px;
    height: 550px;
    left: 50%;
    top: 40%;
    position: fixed;
    transform: translate(-50%, -50%);
}

#hazmat-suit {
    height: 800px;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/cleaned-up-hazmat.png");
    background-size: 100%;
}


/* end game cards*/
#successful-product {
    display: none;
    z-index: 1;
    background-image: url("../img/meth-and-text.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 150%;
    height: 700px;
    width: 600px;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#ricin-beans {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    background-image: url("../img/ricin-poison.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#poison-death {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 900px;
    background-image: url("../img/explosion-with-text.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#killer-product {
    display: none;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 1200px;
    background-image: url("../img/killed-gus-good.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#incomplete-batch {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 900px;
    background-image: url("../img/incomplete-formula.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#dead-product {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-image: url("../img/hazardour.png");
    background-repeat: no-repeat;
    background-size: 90%;
}

#double-killer-product {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    background-image: url("../img/hazardour.png");
    background-repeat: no-repeat;
    background-size: 90%;
}